extends layout

block content
  h1= title 
  - var results = [{"birdName": "LAZULI BUNTING", "birdWeight": 450, "birdColor": "Blue"}, {"birdName": "LARK SPARROW", "birdWeight": 350, "birdColor": "Brown"}, {"birdName": "LEMON DOVE", "birdWeight": 500, "birdColor": "Purple"}]
    div(class = 'container-fluid')
      div(class = 'row')
        each item,index in results 
          div(class="col-md-2", onClick=`buy(${index})`) BirdName : #{item["birdName"]} <br> BirdWeight : #{item["birdWeight"]} <br> BirdColor: #{item["birdColor"]}
           script.
            function buy(val) {
              alert(`You purchased item ${val}`)
            }